[submodule "stb"]
	path = stb
	url = https://github.com/nothings/stb.git
[submodule "tinyobjloader"]
	path = tinyobjloader
	url = https://github.com/tinyobjloader/tinyobjloader.git
[submodule "imgui"]
	path = imgui
	url = https://github.com/ocornut/imgui.git

[submodule "ImGuiFileDialog"]
	path = libs/ImGuiFileDialog
	url = https://github.com/aiekick/ImGuiFileDialog